.register-container_oq71K {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.register-container_oq71K .login-tit_18zzj {
    font-size: 18px;
}

.register-container_oq71K .code-form-container_3qrMm {
    margin-top: 24px;
}

.register-container_oq71K .code-form-container_3qrMm .border-empty_19iqI {
    border-right: none;
    position: relative;
}

.register-container_oq71K .code-form-container_3qrMm .border-empty_19iqI .el-input__inner {
    padding-right: 85px;
}

.register-container_oq71K .code-form-container_3qrMm .login_icon_cE5sS {
    position: absolute;
    top: 16px;
    left: 0;
}

.register-container_oq71K .code-form-container_3qrMm .login_icon-key_1_jiy {
    position: absolute;
    left: 8px;
    top: 16px;
    font-size: 18px;
    color: #999;
}

.register-container_oq71K .code-form-container_3qrMm .el-input__inner {
    padding-left: 30px;
    height: 50px;
    border-radius: 0;
}

.register-container_oq71K .code-form-container_3qrMm .el-input-group__append {
    background: transparent;
    border-radius: 0;
}

.register-container_oq71K .code-form-container_3qrMm .send-code_1OwWz {
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
    color: #e50113!important;
}

.register-container_oq71K .code-form-container_3qrMm .submit-btn_25Muc {
    width: 100%;
    height: 48px;
    font-size: 18px;
}

.register-container_oq71K .code-form-container_3qrMm .read-terms_2XRBC {
    line-height: 30px;
}

.register-container_oq71K .code-form-container_3qrMm .read-terms_2XRBC .el-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container_oq71K .code-form-container_3qrMm .read-terms_2XRBC .el-checkbox__label {
    color: #909399;
    font-size: 12px;
    font-weight: 400;
    display: flex;
}

.register-container_oq71K .code-form-container_3qrMm .read-terms_2XRBC a {
    color: #5395f6;
}

.register-container_oq71K .other-wrap_2ItaS {
    margin: 36px 0 0;
    font-size: 14px;
    color: #333;
    display: flex;
}

.register-container_oq71K .other-wrap_2ItaS span {
    cursor: pointer;
}

.register-container_oq71K .other-wrap_2ItaS .sign-in_1aPEZ {
    margin-left: auto;
}

.code-form-container_2fW4k {
    margin-top: 24px;
}

.code-form-container_2fW4k .login-tit_2LDwc {
    font-size: 18px;
}

.code-form-container_2fW4k .border-empty_1qUgp {
    border-right: none;
    position: relative;
}

.code-form-container_2fW4k .border-empty_1qUgp .el-input__inner {
    padding-right: 85px;
}

.code-form-container_2fW4k .login_icon_1MD5Z {
    position: absolute;
    top: 16px;
    left: 0;
}

.code-form-container_2fW4k .el-input__inner {
    padding-left: 30px;
    height: 50px;
    border-radius: 0;
}

.code-form-container_2fW4k .el-input-group__append {
    background: transparent;
    border-radius: 0;
}

.code-form-container_2fW4k .send-code_2adhS {
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
    color: #e50113!important;
}

.code-form-container_2fW4k .submit-btn_2RBVd {
    width: 100%;
    margin: 16px 0 8px;
    font-size: 18px;
}

.other-wrap_fouzL {
    margin: 36px 0 0;
    font-size: 14px;
    color: #333;
    display: flex;
}

.other-wrap_fouzL span {
    cursor: pointer;
}

.other-wrap_fouzL .sign-in_39Pfi {
    margin-left: auto;
}

.forget-container_2f1hr {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.login-tit_3ghZq {
    font-size: 18px;
}

.code-form-container_1Golz {
    margin-top: 24px;
}

.code-form-container_1Golz .border-empty_xMaOk {
    border-right: none;
    position: relative;
}

.code-form-container_1Golz .border-empty_xMaOk .el-input__inner {
    padding-right: 85px;
}

.code-form-container_1Golz .login_icon_4UAZy {
    position: absolute;
    top: 16px;
    left: 0;
}

.code-form-container_1Golz .login_icon-key_UyIXi {
    position: absolute;
    left: 8px;
    top: 16px;
    font-size: 18px;
    color: #999;
}

.code-form-container_1Golz .el-input__inner {
    padding-left: 30px;
    height: 50px;
    border-radius: 0;
}

.code-form-container_1Golz .el-input-group__append {
    background: transparent;
    border-radius: 0;
}

.code-form-container_1Golz .send-code_HzZjo {
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
    color: #e50113!important;
}

.code-form-container_1Golz .submit-btn_djr55 {
    width: 100%;
    margin: 16px 0 0;
    font-size: 18px;
}

.other-wrap_2OYhD {
    margin: 36px 0 0;
    font-size: 14px;
    color: #333;
    display: flex;
}

.other-wrap_2OYhD span {
    cursor: pointer;
}

.other-wrap_2OYhD .sign-in_EcEMt {
    margin-left: auto;
}

.wechat-container_2B34x {
    margin: 44px 0 0;
}

.wechat-container_2B34x .qrcode-container_3ZbuA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wechat-container_2B34x .qrcode-container_3ZbuA .qrcode-wrap_3higq {
    width: 175px;
    height: 175px;
    background: #f6f6f6;
    position: relative;
}

.wechat-container_2B34x .qrcode-container_3ZbuA .qrcode-wrap_3higq img {
    width: 175px;
    height: 175px;
}

.wechat-container_2B34x .qrcode-container_3ZbuA .qrcode-wrap_3higq .expires-mask_3bC9e {
    position: absolute;
    background: rgba(0,0,0,.8);
    color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.wechat-container_2B34x .qrcode-container_3ZbuA .qrcode-wrap_3higq .expires-mask_3bC9e i[class^=el-icon] {
    cursor: pointer;
}

.wechat-container_2B34x .qrcode-container_3ZbuA .qrcode-wrap_3higq .expires-mask_3bC9e .expires-desc_2xNjB {
    font-size: 14px;
    margin-top: 6px;
}

.wechat-container_2B34x .tips_ZGYFm {
    font-size: 14px;
    padding: 8px 0 0;
    display: flex;
    align-items: center;
    color: #999;
}

.wechat-container_2B34x .tips_ZGYFm span {
    color: #e50113;
}

.wechat-container_2B34x .tips_ZGYFm .el-icon-wechat {
    margin-right: 4px;
}

.wechat-container_2B34x .other-wrap_UfmsO {
    margin: 14px 0 0;
    display: flex;
    justify-content: flex-end;
    color: #999;
    font-size: 16px;
}

.code-form-container_Vp1N8 {
    margin-top: 60px;
}

.code-form-container_Vp1N8 .border-empty_Rq_kV {
    border-right: none;
    position: relative;
}

.code-form-container_Vp1N8 .border-empty_Rq_kV .el-input__inner {
    padding-right: 85px;
}

.code-form-container_Vp1N8 .login_icon_12Xm6 {
    position: absolute;
    top: 16px;
    left: 0;
}

.code-form-container_Vp1N8 .login_icon-key_3Fv7Z {
    position: absolute;
    left: 8px;
    top: 16px;
    font-size: 18px;
    color: #999;
}

.code-form-container_Vp1N8 .el-input__inner {
    padding-left: 30px;
    height: 50px;
    border-radius: 0;
}

.code-form-container_Vp1N8 .el-input-group__append {
    background: transparent;
    border-radius: 0;
}

.code-form-container_Vp1N8 .send-code_1qrcC {
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
    color: #e50113!important;
}

.code-form-container_Vp1N8 .submit-btn_28NCe {
    width: 100%;
    height: 48px;
    margin: 16px 0 0;
    font-size: 18px;
}

.code-form-container_Vp1N8 .read-terms_7L47M {
    line-height: 30px;
}

.code-form-container_Vp1N8 .read-terms_7L47M .el-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.code-form-container_Vp1N8 .read-terms_7L47M .el-checkbox__label {
    color: #909399;
    font-size: 12px;
    font-weight: 400;
    display: flex;
}

.code-form-container_Vp1N8 .read-terms_7L47M a {
    color: #5395f6;
}

.code-form-container_dPcIN {
    margin-top: 60px;
}

.code-form-container_dPcIN .input_position_2n3dw {
    position: relative;
}

.code-form-container_dPcIN .login_icon_1gc_W {
    position: absolute;
    top: 16px;
    left: 0;
}

.code-form-container_dPcIN .el-input__inner {
    padding-left: 30px;
    height: 50px;
    border-radius: 0;
}

.code-form-container_dPcIN .el-input-group__append {
    background: transparent;
    border-radius: 0;
}

.code-form-container_dPcIN .send-code_m3fTb {
    color: #e50113!important;
}

.code-form-container_dPcIN .submit-btn_zbO4q {
    width: 100%;
    height: 48px;
    margin: 16px 0 0;
    font-size: 18px;
}

.code-form-container_dPcIN .read-terms_2I4vJ {
    line-height: 30px;
}

.code-form-container_dPcIN .read-terms_2I4vJ .el-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.code-form-container_dPcIN .read-terms_2I4vJ .el-checkbox__label {
    color: #909399;
    font-size: 12px;
    font-weight: 400;
    display: flex;
}

.code-form-container_dPcIN .read-terms_2I4vJ a {
    color: #5395f6;
}

.login-container_QWbSg {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.login-container_QWbSg .close_icon_1fXr- {
    position: absolute;
    top: -60px;
    right: -70px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.login-container_QWbSg .close_icon_1fXr- i {
    color: #333;
    font-size: 20px;
}

.login-container_QWbSg .login-tit_X-LKM {
    font-size: 18px;
}

.login-container_QWbSg .right-top_3Qms0 {
    position: absolute;
    top: -26px;
    right: -22px;
}

.login-container_QWbSg .right-top_3Qms0 p {
    display: flex;
    align-items: center;
}

.login-container_QWbSg .right-top_3Qms0 .login_tip_1RiL5 {
    height: 30px;
    font-size: 13px;
    padding: 6px;
    border-radius: 5px;
    color: #ffa07a;
    border: 1px solid #ffa07a;
    margin-right: 15px;
    position: relative;
}

.login-container_QWbSg .right-top_3Qms0 .login_tip_1RiL5:after {
    top: 11px;
    content: " ";
    border-left-color: #ffa07a;
    width: 7px;
    height: 7px;
    border-top: 1px solid;
    border-right: 1px solid;
    transform: rotate(45deg);
    position: absolute;
    right: -4px;
    background: #fff;
}

.login-container_QWbSg .bottom-content_DJlkM {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.login-container_QWbSg .bottom-content_DJlkM .bottom-left_3uSh5 {
    cursor: pointer;
    color: #e50113;
}

.login-container_QWbSg .bottom-btn_1uytr {
    margin-top: 26px;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.login-container_QWbSg .bottom-btn_1uytr span {
    display: inline-block;
    cursor: pointer;
    height: 1em;
}

.login-container_QWbSg .bottom-btn_1uytr span:first-child {
    border-right: 1px solid #333;
    padding-right: 7px;
}

.login-container_QWbSg .bottom-btn_1uytr span:last-child {
    padding-left: 7px;
}

.login-container_QWbSg .tabs-wrap_3x7Yo {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    color: #333;
    position: relative;
}

.login-container_QWbSg .tabs-wrap_3x7Yo .tabs_kJcDM {
    cursor: pointer;
}

.login-container_QWbSg .tabs-wrap_3x7Yo .active_3zxoI {
    font-size: 16px;
    color: #e50113;
    font-weight: 600;
    border-bottom: 2px solid #e50113;
}

.login-container_QWbSg .tabs-wrap_3x7Yo .tips_2LAzB {
    display: inline-block;
    font-size: 14px;
    color: #ffa07a;
    border: 1px solid #ffa07a;
    margin: 8px 0 0;
    padding: 0 4px;
    border-radius: 4px;
    position: absolute;
    z-index: 9;
    bottom: -28px;
    left: -6px;
}

.login-container_QWbSg .tabs-wrap_3x7Yo .tips_2LAzB:before {
    content: "";
    position: absolute;
    border: 6px dashed transparent;
    border-bottom: 6px solid #ffa07a;
    left: 48px;
    top: -12px;
}

.login-container_QWbSg .tabs-wrap_3x7Yo .tips_2LAzB:after {
    content: "";
    position: absolute;
    border: 6px dashed transparent;
    border-bottom: 6px solid #fff;
    left: 48px;
    top: -11px;
}

.login-container_QWbSg .other-wrap_21zjF {
    margin-top: auto;
    font-size: 16px;
    color: #999;
    display: flex;
}

.login-container_QWbSg .other-wrap_21zjF span {
    cursor: pointer;
}

.login-container_QWbSg .other-wrap_21zjF .sign-in_33uC4 {
    margin-left: auto;
}

.login-container_1hecc {
    height: calc(100vh - 282px);
    min-height: 660px;
    background: url(../images/bg.996c542.jpg) no-repeat;
    background-size: cover;
}

.login-container_1hecc .login-content_1Lpc4 {
    width: 1190px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.login-container_1hecc .login-content_1Lpc4 .text_2vn5k {
    box-sizing: border-box;
    padding-top: 200px;
    height: 100%;
    font-size: 34px;
    font-family: Arial-BoldMT,Arial,sans-serif;
    color: #fff;
    text-shadow: 0 0 5px #323232;
}

.login-container_1hecc .login-content_1Lpc4 .form-wrap_2FUUs {
    padding-top: 152px;
}

.login-container_1hecc .login-content_1Lpc4 .form-wrap_2FUUs .form-content_oUg0i {
    background: #fff;
    width: 360px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,.25);
    box-sizing: border-box;
    padding: 30px;
}